

.modal-dialog-96 {
	width: 96% !important;
	height: 100% !important;
	max-width: 100% !important;
}

.modal-content-96 {
	height: auto !important;
	min-height: 100% !important;
	border-radius: 0 !important;
	max-width: 96% !important;
	margin: auto !important;
	padding: auto !important;
}

.card-header>.nav .nav-link{
	padding: 0 !important;
}

.card-header>.nav .nav-item {
	padding: 0 !important;
}


